* {
    box-sizing: border-box;
    margin: 0px;
    padding: -10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*color: #39a6b2;
    background-color: rgb(46, 40, 40);*/
    color: black
}

.stack {
    color: white
}

/* HEADER / NAVBAR STYLES START */

header {
    padding: 20px 35px;
    background-color: rgb(24, 20, 20);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    top: 0;
    background-image: url('');

    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    margin: 0;
    font-size: 46px;
    /*text-shadow: 0 0 10px white;*/
    color: rgb(192, 32, 32);;
}

header a {
    text-decoration: none;
    color: white
}

header nav {
    margin: 0 70px;
}

header nav ul {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;   
    
}

header nav ul li a {
    font-weight: lighter;
    padding: 10px 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 23px;
}

header nav ul li a:hover {
    border-radius: 15px;
    color: rgb(156, 37, 61);
    
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:active {
    color: crimson;
}

.hero {
   
    background-color:rgb(24, 20, 20);
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    color: rgb(210, 221, 221);
    font-size: 70px;
    font-family: cursive;
    font-weight: lighter;
    margin-left: 80px;
}

.hero-para {
    color: rgb(192, 32, 32);
}

.hero-text p {  
    padding-top: 10px;
    font-size: 30px;
}
/* HEADER / NAVBAR STYLES END */

.bio {
    text-align: center; 
    padding: 20px; 
}

.kene {
    color: crimson;
    font-size: 30px;
}

.bio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


.para-right {
    line-height: 1.7;
    padding: 80px;
    font-size: 21px;
    font-family: cursive;
    
}

.image-left {
    height: 400px;
    width: 500px;
    border-radius: 16px;
}

.bio-fix h2 {
    font-size: 55px;
    font-weight: 300px; 
    font-family: cursive;
    text-align: center;
}

.align {
    width: 60%;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 20px ;
    flex-wrap: wrap;
}

.button {
    display: inline-flex;
    margin: 0 auto;
    height: 70px;
    padding: 0;
    background: rgb(192, 32, 32);
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background: rgb(175, 16, 16);
}

.button:active {
    background: crimson;
}
.button-text, .button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
}

.button-icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}
.button-text {
    font-size: 34px;
}


.call {
    text-align: start;
    padding: 20px; 
}

.contact-info h2 {
    font-size: 35px;
    font-weight: lighter;
    border-bottom: 3px solid;
    
    
    padding-bottom: 20px;
}

.contact-info nav ul {
    list-style: none;
    
    
    padding-top: 20px;
    padding-left: 0px;
}

a {
    text-decoration: none;
    line-height: 1.7;
     color: black;
}

.project-info {
    width: 500px;
    height: 600px;
    box-shadow: 5px 5px 20px #83898a;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    margin: 50px;  
}

.work-info {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.project h2 {
    font-size: 55px;
    font-weight: 300px;
    font-family: cursive;
}
.subtext {
    font-size: 16px;
    font-weight: 300px;
    line-height: 1.0;
}

.project-link {
    color: rgb(192, 32, 32);
}

.project-info h3, img, p {
    padding: 10px;
}

.image-info {
    margin-top: 15px;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link:hover {
    font-size: 25px;
    color: rgb(192, 32, 32);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-link:active {
    color: red

}

.cv {
    text-align: center;
    padding: 20px;   
}

.cv-info h2 {
    font-size: 35px;
    font-weight: 300px;
    font-family: cursive;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header nav {
        margin: 0 auto 0 50px;
        padding-bottom: 10px;
        
    }
    .cv-info h2 {
        color: blue;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .cv-info h2 {
        padding-top: 20px;
    }

    header nav ul {
        padding-top: 10px;
    }

    .project-info {
        padding: 10px;
    }

    .project-info .block {
        padding: 0px;
        top: 70%;
    }
    .cv-info h2 {
        color: red;
    }
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        justify-content: center;
    }
    
    header nav ul {
        justify-content: center;
        padding-bottom: 10px;
        width: 80%;
        text-align: center; 
    }

    .hero {
        justify-content: center;
        margin: 0 auto 0 auto;
    }

    .hero-text {
        font-size: 30px;
    }

    .project-info img {
        width: 250px;
        height: 200px;
    }

    .projects {
        padding-top: 30px;
    }

    .project-info {
        margin: 0 0 0 10px; 
    }

    .project-info .block {
        padding: 5px;
        top: 65%;
    }
    .cv-info h2 {
        color:pink;
    }
}





