.work-info {
    text-align: start;
    padding: 20px;
}

.project h2 {
    
    font-size: 35px;
    font-weight: lighter;
    border-bottom: 3px solid;
    padding-bottom: 20px; 
}

.projects {
    
    text-align: center;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}

.project-info img {
    width: 200px;
    height: 500px;
    border: 3px solid;
    border-radius: 13px;
    border-color: rgb(80, 75, 75);
}

.project-info {
    position: relative;
    display: inline-block;
    padding: 5px;
    margin: 0 auto 0 auto; 
}

.project-info .block {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 60%;
    right: 5%;
    background: rgb(136, 51, 51);
    width: 40%;
    padding: 10px;
    font-size: 12px;
    flex-wrap: wrap;
    opacity: 0.5;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}

.block h3 {
    padding-bottom: 5px;
}




    /*<Section id = "contact-me" class="call">
        <div class="contact-info">
            <h2>Contacts</h2>
            <nav>
                <ul>
                    <li>
                        <a href="phone-number">318.243.9226</a>
                    </li>
                    <li>
                        <a href="mailto:keneilo91@yahoo.com">keneilo91@yahoo.com</a>
                    </li>
                    <li>
                        <a href="https://github.com/kenesei91" target="blank">github.com/kenesei91</a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/kenechukwu-ilochonwu-98b34ba0" target="blank">Linked Profile</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/kilochonwu/" target="blank">Facebook Profile</a>
                    </li>
                </ul>
            </nav>
        </div>
    </Section>




    <div class="bio-fix">
            <h2>About Me</h2>
            <p>
                Kenechukwu Ilochonwu also known as Ken by his close friends is currently an Environmental Specialist specifically tasked to ensure the protection and conservation of natural resources as well as establishing best practices to to resolve complex problems. Ken believes achieving success in the workplace begins with having a strong mind, body and spirit which he channels through physical sports, competitive gaming, and travelling. Ken is fueled by his commitment to be great, determined, disciplined, and more importantly problem solving. His willingness to learn and his detrmination to succeed is what sets him apart from other professionals. Ken is currently on a 6 month journey to becoming a full stack web developer, and by the end of this program, he would have acquired the necessary skills and knowledge to effeciently create and improve world wide web applications. 
            </p>
            <div class="align">
                <button type="button" class="button">
                    <a href="https://my.indeed.com/api/3/profile/files/resume/mostRecent?" class="button-text" target="blank"> Download CV</a>
                    <span class="button-icon">
                        <ion-icon name="cloud-download-outline"></ion-icon>
                    </span>
                </button> 
                <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            </div>

            
            
        </div>*/


        .button-text {
            padding: 0 20px;
        }
        
        .button {
            display: inline-flex;
            margin: 0 auto;
            height: 70px;
            padding: 0;
            background: rgb(192, 32, 32);
            border: none;
            outline: none;
            border-radius: 5px;
            overflow: hidden;
            font-family: sans-serif;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }
        
        .button:hover {
            background: rgb(175, 16, 16);
        }
        
        .button:active {
            background: crimson;
        }
        .button-text, .button-icon {
            display: inline-flex;
            align-items: center;
            padding: 0 24px;
            color: white;
            height: 100%;
        }
        
        .button-icon {
            font-size: 1.5em;
            background: rgba(0, 0, 0, 0.08);
        }
        .button-text {
            font-size: 34px;
        }

        


        /*<div class="res">
                <button type="button" class="button">
                    <a href="https://my.indeed.com/api/3/profile/files/resume/mostRecent?" class="button-text" target="blank"> Resume</a>
                    <span class="button-icon">
                        <ion-icon name="cloud-download-outline"></ion-icon>
                    </span>
                </button> 
                <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        </div>*/




    <section id="about-me" class="bio">
        <div class="bio-fix">
            <h2>About Me</h2>
        </div>
        <div class="bio-container">
            <div class="image-left">
                <img src="./assets/images/stare.png" alt="My Photo">
            </div>
            <div class="para-right">
                <p>
                    <span class="kene">Kenechukwu Ilochonwu </span>also known as Ken by his close friends worked as an Environmental Specialist for four years specifically tasked to ensure the protection and conservation of natural resources as well as establishing best practices to resolve complex issues. Ken believes achieving success in the workplace begins with having a strong mind, body and spirit which he channels through physical sports, competitive gaming, and travelling. Ken is fueled by his commitment to be great, determined, disciplined, and more importantly problem solving. His willingness to learn and his detrmination to succeed is what sets him apart from other professionals. Ken is currently on a 6 month journey to becoming a full stack web developer, and by the end of this program, he would have acquired the necessary skills and knowledge to effeciently create and improve world wide web applications. 
                </p>

                     <button type="button" class="button">
                        <a href="https://my.indeed.com/api/3/profile/files/resume/mostRecent?" class="button-text" target="blank"> Resume</a>
                        <span class="button-icon">
                            <ion-icon name="cloud-download-outline"></ion-icon>
                        </span>
                    </button> 
                    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                
            </div>    
        </div>
    </section>

    Ken is fueled by his commitment to be great, determined, disciplined, and more importantly problem solving. His willingness to learn and his detrmination to succeed is what sets him apart from other professionals. Ken is currently on a 6 month journey to becoming a full stack web developer, and by the end of this program, he would have acquired the necessary skills and knowledge to effeciently create and improve world wide web applications. 